.card-container{
    margin: 1rem;
    display: flex;
    clear:both;
    flex-wrap: wrap;
}
.card {
    display: block;
    width: 250px;
    height: 80px;
    background: #212121;
    border-radius: 12px;
    float: left;
    white-space: nowrap;
    border: #212121 2px solid;
    transition-duration: .65s;
    margin: 8px;
}
.card:hover {
    transform: translateY(-5px);
    border: #ec6fdc 2px solid;
    cursor: pointer;
    background: #3a343a;
}
.avatar{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 100% 100%!important;
    border-radius: 100%;
    float: left;
    margin: 10px;
}
.name{
    display: block;
    background: linear-gradient(to right, #ec65ea, #8147e7);
    -webkit-background-clip: text;
    color: transparent;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    float: left;
    font-size: 18px;
}
.detail{
    display: block;
    background: #a6a6a6;
    -webkit-background-clip: text;
    color: transparent;
    width: 170px;
    height: 25px;
    margin-bottom: 15px;
    float: left;
    font-size: 14px;
}
.details-container{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 170px;
    height: 80px;
}
.gtext{
    background: linear-gradient(to right, #ec65ea, #8147e7);
    -webkit-background-clip: text;
    color: transparent;
}